h1 {
    color:darkblue;
    background-color:aqua;
    text-align: center;
}
#main {
    position: relative;
}
canvas {
    position: absolute;
    background-color: black;
}
.sliders_box {
    position: absolute;
    top: 20px;
    left: 760px;
    border: 2px solid #000;
}