h1 {
    color:darkblue;
    background-color:aqua;
    text-align: center;
}
canvas {
    position: absolute;
    background-color: black;
}
#main {
    position: relative;
}
.slider_title {
    color: darkblue;
    background-color: aqua;
    text-align: center;
}
#slider_box {
    position: absolute;
    top: 10px;
    left: 900px;
    border: 2px solid #000;
}
#desc {
    font-size: larger;
    background-color: aqua;
    position: absolute;
    top: 580px;
    left: 760px;
}