h1 {
    color:darkblue;
    background-color:aqua;
    text-align: center;
}
li {
    font-size: large;
}
canvas {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: green;
}